.firstdiv {
    width: 200px;
    height: 200px;

    /* background-color: green;
    background-color: #fcba03;
    background-color: rgba(60,86,212,1.00); */

    /* background: green;
    background: #fcba03; */
    background: rgba(60,86,212,1.00);

    color: white;
    font-size: 20px;
}

.seconddiv {
    width: 500px;  
    height: 500px;
    color: white;

    /* background-image: url('../img/coverphoto/bg1.jpg'); */
    background: url('../img/coverphoto/bg1.jpg');
    /* background-color: url('../img/coverphoto/bg1.jpg'); */

    border: 1px solid red;

    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */

}

.thirddiv {
    width: 300px;
    height: 300px;
    border: 1px solid rgb(7, 245, 245);
    color: white;

    /* background: linear-gradient(red,green); */
    /* background: linear-gradient(rgba(60,86,212,1.00),rgba(239,239,74,1.00),rgba(22,227,235,1.00)); */

    /* can't */
    /* background-color: liner-gradient(red,green); */
    /* background-image: solid red; */

    /* background: radial-gradient(red,green); */
    background: radial-gradient(#1ddb76, #0f3fdb);
    /* background: radial-gradient(rgba(60,86,212,1.00),rgba(239,239,74,1.00),rgba(22,227,235,1.00)); */
}

.fourdiv{
    width: 200px;
    height: 300px;
    border: 1px solid cornflowerblue;
    color: white;

    background-image: linear-gradient(
     -20deg,   
    rgba(138, 151, 24, 0.5),rgba(216,57,221,0.5)),
     url('../img/coverphoto/bg2.jpg');
    /* background-image: radial-gradient(rgba(29,240,221,0.5),rgba(216,57,221,0.3)), url('../img/coverphoto/bg2.jpg'); */

    /* background: linear-gradient(-45deg,rgba(29,240,221,0.5),rgba(216,57,221,0.3)); */

}