/* Variable */

:root{
    --oc: orange;
    --rc: red;
    --gc: #0fdb46;
    --sc: rgba(128, 124, 126, 0.8);
    --glc: gold;
}

.div1{
    width: 100px;
    height: 100px;
    background-color: var(--oc);

    float: left;
}

.div2{
    width: 200px;
    height: 200px;
    background-color: var(--rc);

    float: left;
}

.div3{
    width: 300px;
    height: 300px;
    background-color: var(--gc);

    float: left;
}

.div4{
    width: 400px;
    height: 400px;
    background-color: var(--sc);

    float: left;
}

.div5{
    width: 500px;
    height: 500px;
    background-color: var(--glc);

    float: left;
}

.role{
    font-size: 20px;

    appearance: none;
}